{{ ansible_managed | comment }}

{% if item.enabled is defined and item.enabled or item.enabled is not defined %}
Autochanger {
  Name = "{{ item.name }}"
{% if item.description is defined %}
  Description = "{{ item.description }}"
{% endif %}
  Changer Device = "{{ item.changerdevice }}"
  Device = "{{ item.device | default('Tapedrive') }}"
  Changer Command = "{{ item.changercommand | default('/usr/lib/bareos/scripts/mtx-changer %c %o %S %a %d') }}"
}
{% else %}
# This file is not enabled.
{% endif %}
